.heroPage {
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
  background-color: #313E50;
  color: #C5CBD3;
}

#root {
  background-color: #313E50;
}

.nav-title {
  color: #F34213!important;
}

.home-carousel img{
  border-radius: 25px;
  padding: 20px;
}

.home-carousel {
  background-color: #313E50;
  color: #C5CBD3;
}

.carousel-item {
  color: #C5CBD3;
}

.home-card {
  background-color: #C5CBD3;
  border: 2px solid #7B0D1E;
}

.home-header {
  background-color: #b1a08d!important;
  color: #F34213!important;
}

.home-body {
  background-color: #F1DABF!important;
}

.full-width-container {
  width: 100%;
  padding: 0; /* Optional: remove default padding */
  margin: 0 auto; /* Center the container if desired */
}

.full-width-container .container {
  max-width: 100%;
}

/* App.css */

.forumPage {
  padding: 20px;
}

.post-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
}

.forum-card {
  flex: 1 1 calc(33.333% - 20px); /* 3 cards per row with some gap */
  max-width: calc(33.333% - 20px); /* Same as flex basis */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

@media (max-width: 768px) {
  .forum-card {
    flex: 1 1 calc(50% - 20px); /* 2 cards per row on smaller screens */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .forum-card {
    flex: 1 1 100%; /* 1 card per row on very small screens */
    max-width: 100%;
  }
}


.forum-card {
  flex: 1 1 100%; /* Make each card take up the full width of the container */
  max-width: 100%; /* Limit the max width to 90% of the container */
  margin: 10px;
}

.post-links {
  margin: 20px;
}

.post-category {
  margin: 20px;
}

.post-tags {
  margin-bottom: 20px;
}

.meet-cards {
  margin-bottom: 30px;
}

.home-col {
  margin-bottom: 40px;
}

.home-body {
  max-height: 180px; /* Adjust this value as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show before truncating */
  -webkit-box-orient: vertical;
}

.home-header {
  font-weight: bold;
}

.home-card-title {
  font-size: 1.2rem;
}

.meet-image {
  margin: 20px;
}

/* Meet-Up Page */

.card-description {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-description.full {
  white-space: normal;
}

.card-description-container {
  max-height: 100px; /* Adjust based on your needs */
  overflow: hidden;
}

.card-description-container.full {
  max-height: none;
}


@media (max-width: 768px) { /* Adjust the max-width value as needed */
  .card-description {
    display: none;
  }
}

/* Meet-Ups Post */

.small-text {
  font-size: 0.9rem!important; /* Adjust as needed */
}

