.heroPage {
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
  background-color: #313E50;
  color: #C5CBD3;
}

.home-carousel img{
  border-radius: 25px;
  padding: 20px;
}

.home-carousel {
  background-color: #313E50;
  color: #C5CBD3;
}

.carousel-item {
  color: #C5CBD3;
}

.forum-post {
  margin: 15px;
}

.post-links {
  margin: 20px;
}

.post-category {
  margin: 20px;
}

.post-tags {
  margin-bottom: 20px;
}

.meet-cards {
  margin-bottom: 30px;
}

.home-col {
  margin-bottom: 40px;
}

.home-body {
  max-height: 180px; /* Adjust this value as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show before truncating */
  -webkit-box-orient: vertical;
}

.home-header {
  font-weight: bold;
}

.home-card-title {
  font-size: 1.2rem;
}

.meet-image {
  margin: 20px;
}
