.heroPage {
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
}

.home-carousel img{
  border-radius: 15px;
}

.forum-post {
  margin: 15px;
}

.post-links {
  margin: 20px;
}

.post-category {
  margin: 20px;
}

.post-tags {
  margin-bottom: 20px;
}